<div class="container">
    
    <div id="spectre">
      <h1>Seu perfil político</h1>
      <svg id="scatter" width="500" height="500"></svg>    
    </div>

<style>
  
  .axis, .axis path {
    fill: none;
    stroke: #ACB849;
  }
  text {
    stroke: none;
    fill: #666666;
  }

  svg#scatter {
    margin: auto;
    display: block;
  }

  #spectre h1 {
    text-align: center;
  }
    
</style>

</div>

<%= javascript_include_tag '4quadrant' %>


