<div class="container">
    
    <div id="spectre">
      
      <h1>Seu perfil político</h1>
      
      <div class="authority-label">
        Autoritário
      </div>
      
      <svg id="scatter" width="400" height="400"></svg>   

    </div>

    <div class="col-md-2 left-label">
      Esquerda
    </div>
    
    <div class="col-md-2 right-label">
      Direita
    </div>

    <div class="liberty-label">
      Libertário
    </div>

<style>
  
  .axis, .axis path {
    fill: none;
    stroke: #ACB849;
  }
  text {
    stroke: none;
    fill: #666666;
  }

  svg#scatter {
    margin: auto;
    display: block;
  }

  #spectre h1 {
    text-align: center;
  }
    
</style>

</div>

<%= javascript_include_tag '4quadrant' %>


