<div class="container">
	<h2>Afinal, o que é Direita e Esquerda?</h2>
	
	<div class="text-content">

		<p class="static-text">
			Os termos Esquerda e Direita utilizados na política, surgiram por volta do século XVII durante um marco importante da história contemporânea: a Revolução Francesa. O evento que ficou conhecido com o Queda da Bastilha antecedeu o fim do Estado Absolutista, que culminou no fim do poder absoluto, concentrado nas mãos de um rei até então.
		</p>

		<p class="static-text">
			A primeira Constituição, que é o conjunto de leis que estabelece os direitos e deveres de todos os membros da sociedade, foi elaborada a partir de uma Assembléia Constituinte que posteriormente foi dissolvida. Assembléia essa que foi substituída definitivamente por uma Assembléia Legislativa. Desde então o poder foi dividido em executivo, legislativo e judiciário.
		</p>

		<p class="static-text">
			Na sede do poder legislativo, os políticos franceses poderiam ser divididos em dois grupos. Os Girondinos, que eram mais conservadores ao respeito da constituição, sentavam-se ao lado <b>direito</b> da assembléia e os Jacobinos, que eram mais radicais em suas propostas, sentavam-se ao lado <b>esquerdo</b> da assembléia. Desde então até os dias de hoje, temos como referência que a esquerda representa os partidos transformadores, com maior preocupação com os pobres, e a direita representa os conservadores, com medidas a favor da preservação do que está vigorando.
		</p>

		<p class="static-text">
			Nos dias de hoje muitas pessoas interpretam de maneira equivocada o que é direita e esquerda. É muito mais sensato afirmar que tanto direita quanto esquerda, num sistema democrático, desejam a continuação da democracia e a melhoria das condições de vida das pessoas mais pobres. Mas os caminhos propostos para se chegar até lá de fato podem ser bem diferentes. A esquerda tem um caráter essencialmente <i>coletivista</i> enquanto a direita é essencialmente <i>individualista</i>.
		</p>

		<p class="static-text">
			O individualismo é uma ideia ou visão que enfatiza o valor moral do indivíduo e entende que os objetivos e interesses de cada um deve prevalecer sobre os interesses do Estado. Isto significa valorizar a independência, a autonomia e a responsabilidade sobre si mesmo, assim como a Direita é na maioria dos assuntos. Nesse contexto, cada um deve se responsabilizar por suas ações, seja o sucesso ou o fracasso em suas decisões.
		</p>

		<p class="static-text">
			Já o coletivismo é uma ideia ou visão que enfatiza o valor dos grupos e entende que os objetivos e interesses do grupo devem prevalecer sobre os interesses dos indivíduos. Isto significa valorizar a igualdade, a coesão dos grupos e o altruísmo, assim como a Esquerda é na maioria dos assuntos. O grupo oferece segurança aos indivíduos em troca de lealdade.
		</p>

		<p class="static-text">
			Conforme citado pelo portal <b><a href="http://www.politize.com.br/trilhas/esquerda-direita/" target="_blank">Politize</a></b>, a Esquerda valoriza os indivíduos altruístas e dispostos a se conformar à coletividade. A sociedade deve oferecer segurança social aos indivíduos, independentemente de sua condição ou ações. Promove a igualdade social, opondo-se a qualquer tipo de desigualdade considerada injusta, principalmente as desigualdades econômicas. Considera que a sociedade, como um coletivo, deve agir em benefício daqueles em desvantagem relativa a outros dentro da mesma sociedade.
		</p>

		<p class="static-text">
			Já a Direita valoriza os indivíduos independentes e responsáveis pelas suas ações. Cada indivíduo deve conviver com os resultados de suas decisões, sejam eles positivos ou negativos. Promove a igualdade político-jurídica, que é entendida como suficiente para garantir as mesmas oportunidades aos indivíduos da sociedade. Considera a desigualdade social inevitável e natural, advinda da competição entre indivíduos livres. A ajuda às pessoas em necessidade na sociedade deve ser uma decisão dos indivíduos e não uma imposição do Estado ou da coletividade.
		</p>

		<p class="static-text">
			Ainda assim é importante ainda enfatizar que o eixo de direita e esquerda em um espectro político não é o suficiente para denominar a ideologia política de uma pessoa. Esse eixo não determina se um governo é autoritário ou libertário, por exemplo. É possível haver governos autoritários tanto na esquerda quanto na direita, da mesma forma que é possível haver ideias de sociedades anárquicas (sem Estado) tanto na direita (anarco-capitalismo) quanto na esquerda (anarco-comunismo).
		</p>

		<p class="static-text">
			Em outra parte da mesma citação do Politize, outras questões políticas também não cabem nesse eixo como, por exemplo, as discussões sobre a liberação das drogas ou a legalização do aborto. A maioria acha que a direita é contra algumas destas ideias, mas isso não está correto. O que acontece é que tanto os pensamentos conservador e libertário individualista são considerados de direita, mas o conservadorismo é contra essas propostas e o libertarianismo é a favor delas. Isso mostra que no mesmo lado do eixo esquerda-direita existem posições políticas diferentes, o que é completamente compreensível visto que esses assuntos não são representados nesse eixo do espectro político.
		</p>

		<p class="font-text">
			Fonte: <a href="http://www.politize.com.br/trilhas/esquerda-direita/"><i>Politize - Esquerda e Direita:
			http://www.politize.com.br/trilhas/esquerda-direita/</i></a>
		</p>

	</div>

</div>
