<div class="container">
    
    <h1>Ranking</h1>

    <table id="ranking-template" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th class="row-order-number">Posição</th>
        <th class="row-politician-photo"></th>
        <th class="row-politician-name">Deputado</th>
        <th>Pontuação</th>
      </tr>
    </thead>

    <tbody>
      
        <tr>
          <td class="row-order-number">
            <h3>1</h3>
          </td>
          <td class="row-politician-photo"><span class="photo"></span></td>
          <td class="row-politician-name">TESTE</td>
          <td>TESTE</td>
        </tr>

        <tr>
          <td class="row-order-number">
            <h3>1</h3>
          </td>
          <td class="row-politician-photo"><span class="photo"></span></td>
          <td class="row-politician-name">TESTE</td>
          <td>TESTE</td>
        </tr>
      
    </tbody>
  </table><br>

</div>
  

