<div class="container">
    <h1>Com base nas suas curtidas</h1>
    
    <div></div>
      <div id="sequence"></div>
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
          das suas curtidas
        </div>
      </div>
    
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
</div>
  

