* {
    font-family: 'Open Sans', sans-serif;
}

svg {
    vertical-align: top;
}

a:hover, a:visited {
    background-color: transparent !important;
    color: #333333 !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.nav.navbar-nav li a:hover {
    background: #DDD !important;
    border-radius: 5px;
}

nav {
    border-radius: 5px;
}

.nav.navbar-nav li a.msg-cadastrar:hover{
    background: transparent !important; 
}

.logo-home{
    height: 100px;
    margin-top: -45px;
}
.texto-logo-home{
    height: 20px;
    margin-left: 60px;
    margin-top: -52px;
}

.main-container {
	margin-top: 35px;
}

#popinLogin {
	margin: 0 -2px 0 -258px;
}

#loginform {
	margin-right: 10px;
    margin-left: 10px;
}

#login-form {
    margin-right: 10px;
    margin-left: 10px;
}

#popin-login {
    margin: 0 -2px 0 0;
}

/*.all-comment-box {
    height: 100px !important;
}*/

span.expand-law.glyphicon:hover {
    cursor: pointer;
}

span.expand-law.glyphicon {
    display: inline-block;
    position: absolute;
    margin-left: 130px;
    margin-top: 0px;
}   

.like-icon {
    background: url('like_black.png') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
}

.liked {
    background: url('like_green.png') no-repeat;
}

.like-disabled {
    background: url('like_grey.png') no-repeat;
}

.dislike-icon {
    background: url('dislike_black.png') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 4px;
    margin-top: 5px;
}

.disliked {
    background: url('dislike_red.png') no-repeat;
}

.dislike-disabled {
    background: url('dislike_grey.png') no-repeat;
}

h4 > a:hover{
    background-color: transparent;
}

.col-md-8 > a:hover {
    background-color: transparent;
}

.like-strong, .like-strong:hover {
    font-weight: 700;
    color: #099e3b !important;
}

.dislike-strong, .dislike-strong:hover {
    font-weight: 700;
    color: red !important;
}

#btn-like-disabled, #btn-dislike-disabled {
    font-weight: 700;
    color: #D6D6D6 !important;
    cursor: default;
}

span .badge {
    padding: 2px 7px !important;
    margin-top: 0px;
    position: absolute;
}

.badge-like {
    margin-left: 23px;
    background-color: #099e3b !important;
}

.badge-dislike {
    margin-left: 70px;
    background-color: red !important;
}

.badge-like.disabled, .badge-dislike.disabled {
    background-color: #D6D6D6 !important;   
}

span.badge.comments-number{
    margin-top: -29px;
    margin-left: 115px;
    position: absolute;
}

a.btnSaveComment{
    display: none;
}

#ranking-content h1 {
    text-align: center;
}

#ranking-template, #politician-law-projects {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#ranking-template th, #ranking-template td, #politician-law-projects td, #politician-law-projects th {
    vertical-align: inherit;
    text-align: center;
} 

#ranking-template td.row-order-number h3 {
    margin: auto;
    text-align: center
}

#ranking-template th.row-politician-name, #ranking-template td.row-politician-name{
    width: 60%;
}

#ranking-template th.row-order-number, #ranking-template td.row-order-number {
    width: 10%;
}

#ranking-template th.row-politician-photo, #ranking-template td.row-politician-photo {
    width: 10%;
}

#ranking-template td.row-politician-photo span.photo {
    display: block;
    background-color: red;
    z-index: 10;
    width: 50px;
    height: 50px;
    float: left;
}

ul.nav.nav-tabs.nav-justified li.active a{
    background: #e7e7e7 !important;
}

ul.nav.nav-tabs.nav-justified li a:hover, #modal-trigger:hover{
    cursor: pointer;
}

.politician-info h4, .politician-info p {
    display: inline;
}

#politician-law-projects th.row-number, #politician-law-projects td.row-number{
    width: 10%;
}

#politician-law-projects th.row-abstract, #politician-law-projects td.row-abstract{
    width: 70%;
}

#politician-law-projects th.row-acceptances, #politician-law-projects td.row-acceptances{
    width: 20%;
}

.politician-photo {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
}

.politician-photo img, .thumbnail img.politicians-list-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

tr.link-to-law-project:hover {
    cursor: pointer;
}

label#legend-label {
    font-size: 17px;
}

.acceptances-counter {
    margin-bottom: 10px;
}

.acceptances-counter span.badge.badge-dislike, .acceptances-counter span.badge.badge-like {
    margin-left: 0px;
}

/*textarea.form-control {
    height: 250px;
}*/

/*#law_project_description {
    height: 250px !important;   
}*/

/*#comment-box {
    height: 50px !important;
}*/

@media screen and (min-width: 765px) {
    #popin-login {
        width: 345px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
}

@media screen and (max-width: 765px) {
    a.first-item-menu {
        margin-top: 15px;
    }
}

@media screen and (min-width: 992px) {
    span.expand-law.glyphicon {
        margin-top: 10px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .politician-photo{
        margin-bottom: 20px;
    }
}