.logo-home{
    height: 100px;
    margin-top: -45px;
}
.texto-logo-home{
    height: 20px;
    margin-left: 60px;
    margin-top: -52px;
}

.main-container {
	margin-top: 35px;
}

#popinLogin {
	margin: 0 -2px 0 -258px;
}

#loginform {
	margin-right: 10px;
    margin-left: 10px;
}

#login-form {
    margin-right: 10px;
    margin-left: 10px;
}

#popin-login {
    margin: 0 -2px 0 -258px;
}

/*textarea.form-control {
    height: 250px;
}*/

/*#law_project_description {
    height: 250px !important;   
}*/

/*#comment-box {
    height: 50px !important;
}*/